[Unit]
Description=Jenkins Agent Localhost
After=network.target

Requires=network.target


[Service]
Type=simple
# optional file to provide environment variables (e.g. http_proxy, https_proxy):
#EnvironmentFile=/etc/sysconfig/jenkins
# TODO: adapt -jnlpUrl und -secret, as found on the web GUI: Jenkins > Nodes > ...
ExecStart=java -jar ${HOME}/agent.jar -url http://localhost:9090/ -secret aaa555566667777 -name "remote_agent" -workDir "/jenkins"
Restart=always
User=alex
RestartSec=20

[Install]
WantedBy=multi-user.targe1t
